<h3>Dashboard</h3>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <h3>Total Users Reqres page 1</h3>
            <p>{{ totalUsers }}</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <h3>Total JSON Users</h3>
            <p>{{ totalp }}</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <h3>Total JSON Shipping Address</h3>
            <p>{{ totals }}</p>
        </div>
    </div>
</div>