<h3>Address</h3>
<table>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Phone No.</th>
    </tr>
    <tr>
      <td>Peter</td>
      <td>Griffin</td>
      <td>peter.griffin@yourdomain.com</td>
      <td>9090909090</td>
    </tr>
    <tr>
      <td>Lois</td>
      <td>Griffin</td>
      <td>lois.griffin@yourdomain.com</td>
      <td>9898989898</td>
    </tr>
    <tr>
      <td>Joe</td>
      <td>Swanson</td>
      <td>joe.swanson@yourdomain.com</td>
      <td>8888888888</td>
    </tr>
    <tr>
      <td>Cleveland</td>
      <td>Brown</td>
      <td>cleveland.brown@yourdomain.com</td>
      <td>9999999999</td>
    </tr>
  </table>