<h3>Shipping Address</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Sr.No.</th>
      <th scope="col">Shipping Name</th>
      <th scope="col">Email</th>
      <th scope="col">Mobile</th>
      <th scope="col">Address</th>
      <th scope="col">Pincode</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products; let i = index">
      <td>{{i + 1}}</td>
      <td>{{product.fname + ' ' + product.lname | titlecase}}</td>
      <td>{{product.email}}</td>
      <td>{{product.phone}}</td>
      <td>{{product.address}}</td>
      <td>{{product.pincode}}</td>
    </tr>
  </tbody>
</table>